{
    "name" : "derivativemodname",
    "version" : "Beta v. Enraged Koala",
    "path" : ".",
    "include" : [ "tabularasa" ] 
    // Use "require" instead if you want to make tabularasa mandatory 
}
