{
  "__merge" : [], 
  // This file (which should be at /objects/wired/tabularasa/tabularasa.object) 
  // demonstrates how to add a mod filter button to the Tabula Rasa
  "filterButtons" : [
    {
      "baseImage" : "/path/to/mybutton.png",
      "baseImageChecked" : "/path/to/mybuttonchecked.png",
      // Your username or the (short) name of your mod are good choices for a filterkeyword
      "filter" : "mymodkeyword"
    }
  ]
}